<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <style>
    .custom-margin {
         margin-top: 8vh;
      }
   </style>
  <title>Register</title>
</head>

<body>
	<%- include("header") -%>
  <div class="container ">
    <div class="row" style="margin-top: 10px;">
      <div class="col-lg-3 col-xs-12 " align="center">
        <img src="/images/iiitulogo.png" alt="" height="160px" width="160px" align="center" class="logo">
      </div>
      <div class="col-lg-9 " style="margin-top: 2%;">
        <h3 class="main-heading" onload="">Indian Institute of Information Technology Una</h3>
        <h4 class="hindi-title"><span> भारतीय सूचना प्रौद्योगिकी संस्थान ऊना  </span></h4>
        <h4 class="secondary-title" >(An Institute Of National Importance Under MHRD)</h4>
      </div>
    </div>
  </div>
  <hr>

  <div class="container-fluid mb-5">
    <div class="row justify-content-center custom-margin">
      <div class="col-sm-6 col-md-6">
        <%- include("partials/messages") -%>
        <form action="/auser/aregister" method="POST" class="shadow-lg p-4" >
          <div><label for="" class="text-center mt-3 font-weight-bold"><h3>Register</h3></label>
            <label><h6>Name </h6></label>
            <input name="name" id="aname"  class="form-control" >
          </div>
          <div class="form-group">
            <label for="email" class="mt-3"><h6>Email</h6></label>
            <input type="email" class="form-control" name="aemail" id="email" >
          </div>

          <div class="form-group">
          <label for="pass"><h6>Password</h6></label>
          <input type="password" class="form-control"  name="apassword" id="password">
          </div>

          <div class="form-group">
          <label for="pass"><h6>Confirm Password</h6></label>
          <input type="password" class="form-control"  name="apassword2" id="password2">
          </div>

          <button type="submit" class="btn btn-outline-primary mt-3 mb-3 btn-block shadow-sm font-weight-bold">Register</button>

          <label class="mt-2"><strong>Already Registred?</strong></label>
          <div class="">
            <a href="/auser/alogin">click here </a> </div>
        </form>

      </div>
    </div>
  </div>

	  <!-- Boostrap JavaScript -->
	  <script src="js/jquery.min.js"></script>
	  <script src="js/popper.min.js"></script>
	  <script src="js/bootstrap.min.js"></script>
	  <script src="js/all.min.js"></script>
	</body>

	</html>
