<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
  <style>
.select-box{
  width:300px;
  position:relative;
  }
.select-box select{
  height:42px;
  padding:10px 15px;
  line-height:18px;
  font-size:16px;
  border:2px solid #ccc;
  border-radius:8px;
  width:100%;
  -webkit-appearance:none;
  appearance:none;
  }
.select-box:after{
  content : " ";
  position: absolute;
	right: 8px;
	top: 70%;
	margin-top: -4px;
	border-top:8px solid green;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
  }
.select-box select :focus{
	border:2px solid green;
}

    </style>

<body>

<%- include("header") -%>
<div class="container ">
  <div class="row" style="margin-top: 10px;">
    <div class="col-lg-3 col-xs-12 " align="center">
      <img src="/images/iiitulogo.png" alt="" height="160px" width="160px" align="center" class="logo">
    </div>
    <div class="col-lg-9 " style="margin-top: 2%;">
      <h3 class="main-heading" onload="">Indian Institute of Information Technology Una</h3>
      <h4 class="hindi-title"><span> भारतीय सूचना प्रौद्योगिकी संस्थान ऊना  </span></h4>
      <h4 class="secondary-title" >(An Institute Of National Importance Under MHRD)</h4>
    </div>
  </div>
  </div>
  <hr>
  <!-- <div>
    <ol class="progtrckr" data-progtrckr-steps="5">
      <li class="progtrckr-done">Details</li>
      <li class="progtrckr-todo">Elective</li>
      <li class="progtrckr-todo">Acadmic</li>
      <li id class="progtrckr-todo">Hostel </li>
      <li id class="progtrckr-todo"> Done!!</li>
    </ol>
  </div> -->
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Elective Subject</h2>
                    <form action="/elective" method="POST" >
                        <div class="input-group">
                             <label class="label">Roll Number</label>
                             <input class="input--style-4" type="text" name="studentRollno" value="<%= student.rollno %>" readonly>
                        </div>
                        <div class="input-group">
                          <div class ="select-box">
                            <label class="label">Semester </label>
                            <select id="input" name="studentSemester" onchange="random_function()"  required>
                              <option value="">--Semester--</option>
                              <option value="Semester 1">Semester 1</option>
                              <option value="Semester 2">Semester 2</option>
                              <option value="Semester 3">Semester 3</option>
                              <option value="Semester 4">Semester 4</option>
                              <option value="Semester 5">Semester 5</option>
                              <option value="Semester 6">Semester 6</option>
                              <option value="Semester 7">Semester 7</option>
                              <option value="Semester 8">Semester 8 </option>
				                   </select>
                        </div>
                        </div>

                        <div class="input-group">
                          <div class ="select-box">
                            <label class="label">Branch</label>
                            <select id="" name="branch" style="color:black" required>
                              <option>--Select--</option>
                              <option value="CSE">CSE</option>
                              <option value="IT">IT</option>
                              <option value="ECE">Ece</option>
                            </select>
                        </div>
                        </div>


                        <div class="input-group">
                          <div class ="select-box">
                            <label class="label">Elective</label>
                            <select id="output" name="studentElective" style="color:black" required>
                              <option>--Select--</option>
                            </select>
                        </div>
                        </div>


                        <div class="align">
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="next">Next</button>

                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<%- include("footer") -%>
</body>
<script type="text/javascript">

    function random_function() {
        var a = document.getElementById("input").value;
        if (a == "") {
            var arr = ["--Elective--"]
        } else if (a === "Semester 5") {
            var arr = ["Pattern Recognition", "Wireless Networks"];
        } else if (a === "Semester 6") {
            var arr = ["Deep Learning", "Data Analytics With python", "NLP", "DBMS"];
        } else if (a === "Semester 7") {
            var arr = ["Advance Operating System", "E-commerce & Digital Marketing", "Parallel Algorithms"];
        } else if (a === "Semester 8") {
            var arr = ["Machine Learning", "Artifical Intelligence", "Cloud Computing", "Mobile Database"];
        } else if (a === "Semester 1") {
            var arr = ["None"];
        } else if (a === "Semester 2") {
            var arr = ["None"];
        } else if (a === "Semester 3") {
            var arr = ["None"];
        } else if (a === "Semester 4") {
            var arr = ["None"];
        }
        var string = "";
        for (i = 0; i < arr.length; i++) {
            string = string + "<option value=" + arr[i] + ">" + arr[i] + "</option>";
        }
        string = "<select name='any_name'>" + string + "</select>";
        document.getElementById("output").innerHTML = string;
    }
</script>
</html>
