<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <style>
      .head{
        background-color:E8E8E8;
      }
      body{

      }

</style>
    </head>
    <body>

<%- include("header") -%>
<div class="container ">
  <div class="row" style="margin-top: 10px;">
    <div class="col-lg-3 col-xs-12 " align="center">
      <img src="/images/iiitulogo.png" alt="" height="160px" width="160px" align="center" class="logo">
    </div>
    <div class="col-lg-9 " style="margin-top: 2%;">
      <h3 class="main-heading" onload="">Indian Institute of Information Technology Una</h3>
      <h4 class="hindi-title"><span> भारतीय सूचना प्रौद्योगिकी संस्थान ऊना  </span></h4>
      <h4 class="secondary-title" >(An Institute Of National Importance Under MHRD)</h4>
    </div>
  </div>
  </div>
  <hr>

  <!-- <div>
    <ol class="progtrckr" data-progtrckr-steps="5">
      <li class="progtrckr-todo">Details</li>
      <li class="progtrckr-todo">Elective</li>
      <li class="progtrckr-todo">Acadmic</li>
      <li id class="progtrckr-todo">Hostel </li>
      <li id class="progtrckr-todo"> Done!!</li>
    </ol>
  </div> -->
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Registration Form</h2>
                    <form name="loginForm" action="/info" method="POST">
                        <div class="input-group">
                             <label class="label">Name</label>
                             <input class="input--style-4" type="text" name="studentName" placeholder="" autocomplete="" pattern="[a-zA-Z]+([\s][a-zA-Z]+)*" title="Only alphabets(a-z,A-Z) and space(  ) allowed E.g. Nikhil Singh" >
                        </div>

                        <div class="input-group">
                            <label class="label">Roll Number</label>
                            <input class="input--style-4" type="text" name="studentRollno" placeholder="" autocomplete="" >
                        </div>
                        <div class="input-group">
                            <label class="label">Mobile Number</label>
                            <input class="input--style-4" type="number"  min=""  max="9999999999" name="studentMobile" id="phone"  placeholder="" autocomplete="" title="E.g. 94xxxxxx34">
                    	</div>
                        <div class="input-group">
                            <label class="label">Email Id </label>
                            <input class="input--style-4" type="Email" name="studentEmail" placeholder=""  autocomplete="">
                        </div>
                        <div class="input-group">
                            <label class="label">Date</label>
                            <input class="input--style-4" type="date" name="date" required placeholder=""  autocomplete="">
                        </div>


                        <div class="align">
                        <div class="p-t-15">
                          <button type="submit"  class="btn btn--radius-2 btn--blue" type="submit" name="button">Submit</button>
                        </div></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<%- include("footer") -%>
