<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Hostel Record</title>
  </head>
<link rel="stylesheet" type="text/css" href="/css/tablecss.css">
<style>
html,body{
  height: 100vh;
  place-items: center;
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(75deg,#e6f9ff  #d966ff 25%,#e6f9ff  );

}
</style>
  <body>
    <%- include("header") -%>
    <div class="whole">
    <div class="text1"><center>Student Registration Record</center> </div>

    <div class="btn">
          <center><a href="/basicdetailsrecord"><p>Student Basic Details</p></a></center>
    </div>

    <div class="btn">
          <center><a href="/electiverecord"><p>Student Elective-Subject Details</p></a></center>
    </div>

    <div class="btn">
          <center><a href="acedmicsrecord"><p>Student Acedmics Record</p></a></center>
    </div>

    <div class="btn">
          <center><a href="hostelrecord"><p>Student Hostel Record</p></a></center>
    </div>




<%- include("footer") -%>
</body>
</html>
